<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <title>Document</title>
  </head>
  <body id="informations">
    <ul id="information_about_me">
      <li>Abduvohob</li>
      <li>FULL-STACK</li>
      <li>993033532</li>
    </ul>
    <strong id="information_howuseproject">
      hello I use express in node js to built this project if you want to use
      this project , You see password and username to get into project you might
      use this username and password please I say again you have to use careful
      because I haven’t got real database I use simple database . If you make
      mistake , project mightn’t work thanks a lot to read my sentences</strong
    >
    <div id="information_about_me">
      <ul id="users">
        <li id="users_information">USERNAME: Baxtiyor</li>
        <li id="users_information">PASSWORD: Baxtiyor</li>
        <li id="users_information">ROLE: Teacher</li>
      </ul>
      <ul id="users">
        <li id="users_information">USERNAME: Abduvohob</li>
        <li id="users_information">PASSWORD: 993033532</li>
        <li id="users_information">ROLE: Admin</li>
      </ul>
      <ul id="users">
        <li id="users_information">USERNAME: master</li>
        <li id="users_information">PASSWORD: master</li>
        <li id="users_information">ROLE: Student</li>
      </ul>
    </div>
    <form
      class="form"
      action=""
      method="POST"
      enctype="application/x-www-form-urlencoded"
    >
      <input
        class="input1"
        type="text"
        placeholder="username"
        name="username"
      />
      <input
        class="input2"
        type="text"
        placeholder="password"
        name="password"
      />
      <button type="submit" id="btn">Send</button>
    </form>
  </body>
</html>
