<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="body">
    <form
      action="/api/teacher-back"
      enctype="application/x-www-form-urlencoded"
      method="post"
    ></form>
    <h1 class="h1">GROUPS PAGE</h1>

    <form
      action="/api/teacher-back"
      enctype="application/x-www-form-urlencoded"
      method="post"
    >
      <button class="h3" type="submit" name="Menu" value="Menu">Menu</button>
    </form>
    <div class="users-div">
      <ul class="users-ul">
        <li class="li-one">Id</li>
        <li class="li-two">Groupname</li>
        <li class="li-three">Title</li>
        <li>HOMEWORK</li>
      </ul>
    </div>

    <% teacherGroups.forEach(e => { %>
    <div class="users-div">
      <ul class="users-ul">
        <li><%= e.id %></li>
        <li id="groupname"><%= e.groupname %></li>
        <li><%= e.title %></li>

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          id="groups"
        >
          ADD HOMEWORK
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Created Teacher
                </h1>
                <button
                  type="button"
                  -+
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body , d-flex ,">
                <form
                  enctype="application/x-www-form-urlencoded"
                  ,
                  method="POST"
                  action="/api/teacher-groups"
                  class="formUsers"
                >
                  <input
                    type="text"
                    name="homeworkText"
                    placeholder="Homework Text"
                    class="usernameInputUsers , w-100 , p-3"
                  />
                  <input
                    type="text"
                    class="w-100 , p-3 ,"
                    name="groupname"
                    ,
                    placeholder="Group Name"
                  />
                  <input
                    type="date"
                    name="Date"
                    placeholder="Date"
                    class="passwordInputUsers , w-100 , p-3"
                    id="input_teacher_groupname"
                  />

                  <button type="submit " class="w-50 , p-2 ," id="UserBtn">
                    Send
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>

    <% }) %>

    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
